<!DOCTYPE html>
<html lang="en">

<%- include("layouts/header")%>

<body>
  <!-- Navigation -->
  <%- include("layouts/navbar", { user: user})%>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Search TV series here! <br> Please login first</h1>
        </div>
      </div>
    </div>
  </header>

  <%- include("layouts/iconsGrid")%>
  <%- include("layouts/imageShowcase")%>
  <%- include("layouts/testimonials")%>
  <%- include("layouts/question")%>
  <%- include("layouts/footer")%>
  <%- include("layouts/scripts")%>
</body>

</html>